---
import GetInTouchCard from '@components/GetInTouchCard.astro';
import Details from './Details.astro';
import { locationData } from '@data/locationData';
---

<footer>
  <div class='px-6 py-16 bg-black mt-80'>
    {
      Astro.url.pathname !== '/contact' && (
        <div class='-mt-64'>
          <GetInTouchCard />
        </div>
      )
    }
    <div class='mt-16 border-b-2 border-gray-800'>
      <div class='px-16 pb-8'>
        <img src='/assets/shared/logo-light.png' alt='logo' />
      </div>
    </div>
    <section class='flex flex-col items-center gap-10 mt-8'>
      <div class='flex flex-col items-center gap-8 text-white uppercase'>
        <h4><a href='/about'>Our Company</a></h4>
        <h4><a href='/locations'>Locations</a></h4>
        <h4><a href='/contact'>Contact</a></h4>
      </div>
      <Details
        dark={false}
        rowOne={locationData[0]?.address.name}
        rowTwo={locationData[0]?.address.street}
        rowThree={locationData[0]?.address.city}
      />
      <Details
        dark={false}
        rowOne='Contact Us (Central Office)'
        rowTwo={locationData[0]?.contact.phone}
        rowThree={locationData[0]?.contact.email}
      />
      <div class='flex items-center justify-center gap-4'>
        <a href='https://facebook.com' target='_blank'>
          <img src='/assets/shared/icon-facebook.svg' alt='facebook' />
        </a>
        <a href='https://youtube.com' target='_blank'>
          <img src='/assets/shared/icon-youtube.svg' alt='youtube' />
        </a>
        <a href='https://twitter.com' target='_blank'>
          <img src='/assets/shared/icon-twitter.svg' alt='twitter' />
        </a>
        <a href='https://pinterest.com' target='_blank'>
          <img src='/assets/shared/icon-pinterest.svg' alt='pinterest' />
        </a>
        <a href='https://instagram.com' target='_blank'>
          <img src='/assets/shared/icon-instagram.svg' alt='instagram' />
        </a>
      </div>
    </section>
  </div>
</footer>
