---
export interface Props {
  data: {
    name: string;
    image: string;
    description?: string;
    withButton?: boolean;
    id?: string;
  };
}

import Button from '@components/ui/Button.astro';

const {
  data: { name, image, description, withButton, id },
} = Astro.props as Props;
---

<div
  class={`flex flex-col items-center gap-12 ${
    !withButton && 'md:flex-row lg:flex-col'
  }`}
>
  <div
    class='bg-[url("/assets/shared/components/bg-pattern-small-circle.svg")] bg-no-repeat bg-center bg-cover md:w-full md:max-w-[12.625rem]'
  >
    <img src={image} alt={name} />
  </div>
  <div
    class={`flex flex-col items-center gap-8 text-center ${
      !withButton &&
      'md:items-start lg:items-center md:text-start lg:text-center'
    }`}
  >
    <h3 class='font-medium uppercase'>{name}</h3>
    {description && <p>{description}</p>}
    {
      withButton && (
        <Button
          buttonText='See Location'
          buttonBgColor='bg-peach-600'
          buttonTextColor='text-white'
          buttonHref={`/locations/#${id}`}
        />
      )
    }
  </div>
</div>
