---
export interface Props {
  locationData?: {
    id: string;
    name: string;
    address: {
      name: string;
      street: string;
      city: string;
    };
    contact: {
      name: string;
      phone: string;
      email: string;
    };
    tileImage: {
      mobile: string;
      tablet: string;
      desktop: string;
    };
  };
}

import Details from '@components/ui/Details.astro';

const { locationData } = Astro.props as Props;
---

<div id={locationData?.id} class='md:space-y-6'>
  <div class='md:rounded-2xl md:overflow-hidden'>
    <img
      src={locationData?.tileImage.mobile}
      alt={locationData?.name}
      class='w-full md:hidden lg:block'
    />
    <img
      src={locationData?.tileImage.tablet}
      alt={locationData?.name}
      class='hidden md:block lg:hidden w-full'
    />
  </div>
  <div
    class='flex flex-col items-center md:items-start gap-6 px-6 md:px-20 py-20 bg-peach-100 bg-[url("/assets/shared/bg-pattern-three-circles.svg")] text-center md:rounded-2xl'
  >
    <h2 class='text-peach-600'>{locationData?.name}</h2>
    <div
      class='text-[0.9375rem] space-y-6 md:space-y-0 md:flex md:items-center md:gap-40'
    >
      <Details
        dark={true}
        rowOne={locationData?.address.name}
        rowTwo={locationData?.address.street}
        rowThree={locationData?.address.city}
      />
      <Details
        dark={true}
        rowOne={locationData?.contact.name}
        rowTwo={locationData?.contact.phone}
        rowThree={locationData?.contact.email}
      />
    </div>
  </div>
</div>
