---
export interface Props {
  title: string;
  link: string;
  imgSrc: string;
}

const { title, link, imgSrc } = Astro.props as Props;
---

<a href={link}>
  <div
    class='flex flex-col items-center gap-3 uppercase text-white py-24 rounded-2xl bg-cover bg-url(/assets/mobile/image-${imgSrc}-design.jpg)'
    style={{
      backgroundImage: `url(/assets/mobile/image-${imgSrc}-design.jpg)`,
    }}
  >
    <h2>{title}</h2>
    <div class='flex items-center gap-5 text-sm md:text-base tracking-[5px]'>
      <span>View Projects</span>
      <img src='/assets/shared/icon-right-arrow.svg' alt='right arrow' />
    </div>
  </div>
</a>
<!-- <Picture
          src={webDesign}
          alt='web design image'
          widths={[400, 800, 1200]}
          sizes='((min-width: 90rem) 33.75rem, ((min-width: 48rem) and (max-width: 90rem) 43rem,(max-width: 48rem) 20.5rem'
          aspectRatio={undefined}
          class='object-cover min-h-full min-w-full'
        /> -->
