---
export interface Props {
  aboutData?: {
    name: string;
    description: {
      top: string;
      bottom: string;
    };
    tileImage: {
      mobile: string;
      tablet: string;
      desktop: string;
    };
  };
  locationData?: {
    id: string;
    name: string;
    address: {
      name: string;
      street: string;
      city: string;
    };
    contact: {
      name: string;
      phone: string;
      email: string;
    };
    tileImage: {
      mobile: string;
      tablet: string;
      desktop: string;
    };
  };
}

import Details from '@components/ui/Details.astro';

const { aboutData, locationData } = Astro.props as Props;
---

<div id={locationData?.id ?? null}>
  <div>
    <img
      src={locationData?.tileImage.mobile ?? aboutData?.tileImage.mobile}
      alt={locationData?.name ?? aboutData?.name}
    />
  </div>
  <div
    class='flex flex-col items-center gap-6 px-6 py-20 bg-peach-100 bg-[url("/assets/shared/bg-pattern-three-circles.svg")] text-center'
  >
    <h1 class='text-peach-600'>{locationData?.name ?? aboutData?.name}</h1>
    <div class='text-[0.9375rem] space-y-6'>
      {
        !locationData && (
          <>
            <p>{aboutData?.description.top}</p>
            <p>{aboutData?.description.bottom}</p>
          </>
        )
      }
      {
        locationData && (
          <>
            <Details
              dark={true}
              rowOne={locationData?.address.name}
              rowTwo={locationData?.address.street}
              rowThree={locationData?.address.city}
            />
            <Details
              dark={true}
              rowOne={locationData?.contact.name}
              rowTwo={locationData?.contact.phone}
              rowThree={locationData?.contact.email}
            />
          </>
        )
      }
    </div>
  </div>
</div>
